<%= form_for(@project) do |f| %>
<%= render 'display_errors' %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<%= render partial: 'success_conditions', :locals => {:f => f} %>
<h3> Tasks: </h3>
<ul id="tasks">
  <%= f.fields_for :tasks do |builder| %>
  <%= render partial: 'task', :locals => {:builder => builder} %>
  <% end %>
</ul>
<%= link_to 'Add Task', add_tasks_path(@project), remote: true %>
<%= button_tag(type:"button", :id => 'add_tasks') do%>
<%= "Add Task" %>
<% end %> <br/>
</br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
